# 编译生成的文件
*.exe
*.obj
*.o
*.dll
*.lib
*.a
*.csv
*.gitignore
*_cpy.c

# 构建目录
/build/
/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# 数据库文件（可选！）
# 如果你不希望共享数据库，就保留这一行
finance.db

# IDE 配置（按需添加）
.vscode/
.idea/
*.suo
*.user